<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="CadastrarUsuario()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome" name="txtnome"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" name="txtemail"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.senha" name="txtsenha"></ion-input>
    </ion-item>
   
    <ion-button type="submit" block>Cadastrar</ion-button>
  </form>
</ion-content>
